html, body {
	font-family: 'Droid Sans', sans-serif;
	color:#113285;
}

.navbar-brand{
	padding:0px;
}

.navbar{
	background-color: #707070;
    background-image: linear-gradient(to right, #005CAF, #113285);
}

.active {
    float: left;
    margin-left: 500px;
}

#imageUpload {
	position: relative;
	cursor: pointer;
}

#text-overlay {
	position: absolute;
	top: 50px;
	left: 154px;
	width: 67px;
	color: #113285;
	font-size: 30px;
	text-align: center;
}

.row div div {
    margin-bottom: 10px;
}


footer {
    text-align: center;

}

hr {
    margin: 0.4em auto;
}

#label_button {
    border: 2px solid #113285;
    cursor: pointer;
    border-radius: 10px;
    margin: 15px auto;
    width: 500px;
    color: #113285;
}

#label_button a {
    color: #113285;
}

/* https://css-tricks.com/quick-css-trick-how-to-center-an-object-exactly-in-the-center */
#loadingImage {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
  width: 200px;
}


/* add location page */

#uploadPhoto {
    text-align: center;
    border: solid 2px #7297BA;
}

#settings-form {
    text-align: center;
    color: #7297BA;
    width: 300px;
    margin: auto 50px;
}

#settings-form input[type=text] {
    border: solid 2px #7297BA;
    width: 270px;
}

#form-line {
    margin-top: 20px;
}

#post_button {
    width: 100%;
    height: 60px;
    background-color: #113285;
    color: white;
    font-weight: 900;
    font-size: 1.5em;
    margin-top: 45px;
    border: none;
}


.container {
    padding: 0px;
}


#addLoc_footer{
	margin-top: 200px;
}

/* addNewLoc */

.txt {
    color: #7297BA;
}

.uploadGrp {
    width: 300px;
    height: 50px;
    color: #7297BA;
    background-color: #FFF;
    /*background-image: url("addPhoto.png");*/
    text-align: center;
    border: solid 2px #7297BA;
    border-radius: 10px;
    margin-top: 50px;
}

#file {
    opacity: 0;
}

.navbar-header {
    margin: 0px !important;
}

#selectPhoto{
	color:#113285;
	font-size: 1em;
	text-align: center;
}

#submit_btn{
	background-color: #005CAF !important;
	border:solid 2px #005CAF;
	color:white;
}

/*cat info page css*/

.catPics{
	margin-top:15px;
	width:100%;
}
